{% extends 'base.html.twig' %}

{% block body %}

    <!-- BEGIN HEADER -->
    <header class="l-header bg-img">
      <div id="l-nav" class="l-nav">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <nav class="navbar navbar-expand-md navbar-light">

                <a class="navbar-brand" href="{{ path ('home')}}">
                  <img src="img/logo-grand.png" class="img-fluid">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto py-4 py-md-0">
                    <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                      <a class="nav-link" href="{{ path ('help')}}">Aide</a>
                    </li>
                    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                      <a class="nav-link nav-auth" href="{{ path ('register')}}">S'inscire</a>
                    </li>
                    {% endif %}
                    {% if not app.user %}
                    <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                      <a class="nav-link nav-auth" href="{{ path ('login')}}">Se connecter</a>
                    </li>
                    {% else %}
                     <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                      <a class="nav-link nav-auth" href="{{ path ('logout')}}">Se deconnecter</a>
                    </li>
                    {% endif %}
                    <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">EN</a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">FR</a>
                      </div>
                    </li>
                    <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                      <a class="nav-link nav-cart" data-cart="2" href="#">
                        <i class="fas fa-cart-arrow-down"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>

      <h1 class="header-title text-center text-light">Partagez. Protégez. Aimez.</h1>
      <p class="header-text text-center text-light">
        Faites les courses depuis l'étranger de produits et services,<br>
nous livrons vos proches au pays en moins de 36H.
      </p>

      <!-- BEGIN PROPERTY FILTER -->
      <div id="property-filter" class="property-filter">

        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <form>
                <div class="form-group">
                  <div class="form-control-large">
                    <select id="search_country" name="search_country" data-placeholder="Pays du bénéficiaire">
                      <option value=""> </option>
                      <option value="ben">Bénin</option>
                      <option value="cmr">Cameroun</option>
                      <option value="gbn">Gabon</option>
                    </select>
                  </div>

                  <div class="form-control-large">
                    <select id="search_town" name="search_town" data-placeholder="Ville du bénéficiaire">
                      <option value=""> </option>
                      <option value="douala">Douala</option>
                      <option value="yaounde">Yaoundé</option>
                      <option value="bafoussam">Bafoussam</option>
                    </select>
                  </div>

                  <div class="form-control-large">
                    <select id="search_store" name="search_store" data-placeholder="Choisissez une boutique">
                      <option value=""> </option>
                      <option value="0">0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="5plus">5+</option>
                    </select>
                  </div>

                  <button type="submit" class="btn btn-fullcolor">Entrer</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
      <!-- END PROPERTY FILTER -->
    </header>
    <!-- END HEADER -->

    <!-- BEGIN MAIN CONTENT -->
    <main class="l-main">

      <!-- BEGIN RECENT DEAL SLIDER -->
      <section class="l-ccm">
        <div class="container">
          <h3 class="custom-title">Comment ça marche</h3>
          <p class="custom-text">Fatigué de l'argent mal utilisé ? Soyez plus efficace !</p>
          <div class="row">
            <div class="col-md-12">
              <h4 class="ccm-title">
                GABI Express plus efficace que le transfert d’argent traditionnel
              </h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="ccm-step">
                <img class="ccm-step-img" src="img/step-1.png" alt="step-1">
                <h5 class="ccm-step-title">Etape 1</h5>
                <p class="ccm-step-description">
                  Je selectionne moi-même les produits ou un service en précisant le contact du bénéficiaire.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="ccm-step">
                <img class="ccm-step-img" src="img/step-2.png" alt="step-1">
                <h5 class="ccm-step-title">Etape 2</h5>
                <p class="ccm-step-description">
                  Je paye en toute sécurité en utilisant un des nombreux moyens de payement au choix.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="ccm-step">
                <img class="ccm-step-img" src="img/step-3.png" alt="step-1">
                <h5 class="ccm-step-title">Etape 3</h5>
                <p class="ccm-step-description">
                  Je paye en toute sécurité en utilisant un des nombreux moyens de payement au choix.
                </p>
              </div>
            </div>
          </div>
          <br>
          <br>
          <br>
          <div class="btn-center">
            <a href="#" class="btn btn-sm btn-fullcolor">Commencez dès maintenant</a>
          </div>
        </div>
      </section>
      <!-- END RECENT DEAL SLIDER -->

      <!-- BEGIN CHOICE PROPERTY -->
      <section class="l-why-us">
        <div class="container">
          <h3 class="custom-title">Pourquoi choisir Gabi Express</h3>
          <div class="row">
              <div class="col-md-4">
                <div class="card card-custom choice">
                  <img src="./img/undraw_wallet_aym5.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Envoyez plus, Payez moins</h5>
                    <p class="card-text text-center">
                      Économisez par rapport au transfert d´argent traditionnel grâce aux frais fixes
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card card-custom choice">
                  <img src="./img/undraw_Appreciation_sjc1.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Votre argent est bien utilisé</h5>
                    <p class="card-text text-center">
                      Vous avez la garantie que votre argent est utilisé pour le bon besoin
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card card-custom choice">
                  <img src="./img/undraw_Security_on_ff2u.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">100% sécurisé</h5>
                    <p class="card-text text-center">
                      Nous utilisons un cryptage de certificat SSL et 94% de nos utilisateurs sont satisfaits
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card card-custom choice">
                  <img src="./img/undraw_posting_photo_v65l.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Facile à utiliser</h5>
                    <p class="card-text text-center">
                      Sur un ordinateur ou sur mobile, Familov est très facile à utiliser et toujours disponible.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card card-custom choice">
                  <img src="./img/undraw_spread_love_r9jb.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Impact positif</h5>
                    <p class="card-text text-center">
                      Vous faites quelque chose de positif pour améliorer la vie des gens et l´économie locale
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card card-custom choice">
                  <img src="./img/undraw_chasing_love_3v98.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Aspect social</h5>
                    <p class="card-text text-center">
                      Facile d´envoyer de la nourriture et des besoins essentiels à un orphelinat,ou un hôpital
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <br>
          <div class="btn-center">
            <a href="{{ path ('register')}}" class="btn btn-sm btn-fullcolor">Créez un compte, c'est gratuit</a>
          </div>
          </div>
        </div>
      </section>
      <!-- END CHOICE PROPERTY -->

      <!-- BEGIN TESTIMONIALS -->
      <section class="l-testimonials">
        <div class="container">
          <h3 class="custom-title">Ils témoignent</h3>
          <p class="text-description text-center">
            Gabi Express est le nouveau moyen par lequel les familles partout dans le monde restent connectées.Alimentaire,éducation, santé etc. Nous nous deployons partout...
          </p>
          <br />
          <div class="row">
            <div class="col-md-12">
              <div class="controls-slide testimonials text-color text-right">
                  <ul>
                      <li><button class="prev"><i class="fas fa-chevron-left"></i></button></li>
                      <li><button class="next"><i class="fas fa-chevron-right"></i></button></li>
                  </ul>
              </div>
              <br />
              <div id="carousel-testimonials">
                <div class="card card-custom testimonial">
                  <div class="card-body">
                    <p class="card-text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    </p>
                    <div class="media">
                      <img src="./img/adolescent-attractive-beautiful-1213769.png" class="mr-3 rounded-circle media-img" alt="">
                      <div class="media-body">
                        <h5 class="mt-0 media-text">Monica Whiteson</h5>
                        <p class="card-text">house wife</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card card-custom testimonial">
                  <div class="card-body">
                    <p class="card-text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    </p>
                    <div class="media">
                      <img src="./img/attractive-brunette-dark-1124724.png" class="mr-3 rounded-circle media-img" alt="">
                      <div class="media-body">
                        <h5 class="mt-0 media-text">Anaïs Brown</h5>
                        <p class="card-text">Designer</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card card-custom testimonial">
                  <div class="card-body">
                    <p class="card-text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    </p>
                    <div class="media">
                      <img src="./img/attractive-brunette-dark-1124724.png" class="mr-3 rounded-circle media-img" alt="">
                      <div class="media-body">
                        <h5 class="mt-0 media-text">Anaïs Brown</h5>
                        <p class="card-text">Designer</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- END TESTIMONIALS -->
    </main>

{% endblock %}
